img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./assets/img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.avatar-wrapper {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}
.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
  opacity: 0.5;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
  font-family: FontAwesome;
  content: "\f007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 95px;
  background: #ecf0f1;
  color: #343a40;
  text-align: center;
}
.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 160px;
  top: -2px;
  left: -5px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #343a40;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}

.avatar-profile-image {
  width: 25px;
  margin-right: 10px;
  height: 25px;
  border-radius: 50%;
}

.noPointer {
  cursor: none;
  pointer-events: none;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box {
  height: 510px;
  overflow-y: scroll;
}
.chat-box {
  height: 510px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-message img {
  width: 100px;
}
